/* Start Global */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container,
.sections,
.section {
  position: relative;
  height: 100%;
}
.scroller-scrollbar {
  background-color: #000;
  opacity: 0;
}
/* End Global */

/* Start Main Variables */
:root {
  font-family: "Roboto", sans-serif;
  --menu-color: #e6ae49;
}
/* End Main Variables */
/* Vertical Slider  */
[data-fs-scroll] .page li {
  background: #32323277;
}
[data-fs-scroll] .page li.active {
  background: #323232;
}
/* End of Vertical Slider  */
/* Start Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 105px;
}
.header .header-content {
  background-color: rgb(0 0 0 / 20%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-left: 22px;
  padding-right: 22px;
  /* gap: 0 100px; */
  color: #fff;
  box-shadow: 0 2px 100px rgb(0 0 0 / 50%);
}
.header .header-content .logo img {
  margin-top: 25px;
  width: 250px;
  height: 50px;
}
.header .header-content ul li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  line-height: 1.8;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 1px;
}
.header .header-content ul li a {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  line-height: 1.8;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 1px;
}
.header .header-content ul li a:not(.join):hover {
  color: var(--menu-color);
}
.header .header-content ul li.join {
  background-color: #323232;
}
.header .header-content ul li.join:hover {
  background-color: #323232b0;
}
.header .header-content ul li.join:hover a {
  color: var(--menu-color);
}
.header .header-content li.artists,
.header .header-content li.events {
  position: relative;
}
.header .header-content li.events span,
.header .header-content li.artists span {
  display: inline-block;
  margin-left: 2px;
  font-size: 10px;
  transform: rotate(-45deg);
  font-weight: bold;
}
.header .header-content li.artists ul,
.header .header-content li.events ul {
  position: absolute;
  top: 105px;
  left: 0;
  display: none;
  background-color: #323232b0;
  color: #cfcece;
  transition: 0.3s;
}
.header .header-content li.artists:hover ul,
.header .header-content li.events:hover ul {
  display: inline-block;
}

.header .header-content li.artists ul li,
.header .header-content li.events ul li {
  font-weight: 300;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 180px;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}

.header .header-content li.artists ul li:hover,
.header .header-content li.events ul li:hover {
  background-color: #323232;
  color: #fff;
}

.header .header-content li.search .popup-search {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .closing {
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 10px;
  font-size: 36px;
  color: #6f706f;
  cursor: pointer;
  transition: 0.3s;
  cursor: pointer;
}
.header .closing:hover {
  color: var(--menu-color);
}
.header .header-content li.search .popup-search .closing:hover {
  color: var(--menu-color);
}
.header .header-content li.search .popup-search .content {
  margin-bottom: -50px;
  border-bottom: 2px solid #6f706f;
}
.header .header-content li.search .popup-search .content input {
  width: 850px;
  height: 100px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 60px;
  color: #fff;
  font-weight: 300;
}
.header .header-content li.search .popup-search .content i {
  color: #6f706f;
  cursor: pointer;
}
.visibility {
  visibility: hidden !important;
}
/* End Header */
/* Start Slider */
#demo .sp-arrow {
  width: 45px;
  height: 45px;
  background-color: rgba(94, 94, 94, 0.1);
  transition: 0.3s;
}
#demo .sp-arrow:hover {
  background-color: rgba(245, 245, 245, 0.4);
}
#demo .sp-arrow::before,
#demo .sp-arrow::after {
  width: 7%;
  height: 18%;
  background-color: black;
  transition: 0.3s;
}
#demo .sp-arrow:hover::before,
#demo .sp-arrow:hover::after {
  background-color: var(--menu-color);
}
.sp-arrow:before {
  left: 42%;
  top: 14.5px;
}
.sp-arrow:after {
  left: 42%;
}
.sp-horizontal .sp-previous-arrow {
  left: 0px;
}
.sp-horizontal .sp-next-arrow {
  right: 0px;
}
/* End Slider */
/* Start Slider Content*/
.slider-background {
  background-color: #efefef;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.slider-pro.top {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
#demo .sp-slide.flex {
  display: flex;
  justify-content: flex-start;
  gap: 120px;
}
#demo .sp-slide.flex img {
  width: 30% !important;
  height: 100%;
}
#demo .sp-slide.flex .txt {
  width: 50%;
}
#demo .sp-slide.flex .txt h3 {
  margin: 0;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 10px;
  text-transform: uppercase;
}

#demo .sp-slide.flex .txt p {
  color: #323232;
  font-weight: 300;
  letter-spacing: 1.5px;
  font-size: 14px;
  line-height: 1.9;
  margin: 0;
  padding: 10px;
}
#demo .sp-slide.flex .txt .link {
  background-color: #323232;
  transition: all 0.3s;
  margin: 20px 10px;
  border-radius: 3px;
  width: fit-content;
}
#demo .sp-slide.flex .txt .link a {
  display: inline-block;
  text-decoration: none;
  line-height: 1.8;
  font-size: 14px;
  color: #fff;
  padding: 10px 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
#demo .sp-slide.flex .txt .link:hover {
  background-color: #323232de;
}
/* End Slider Content*/
/* Section TWo */
.explore {
  background-color: #4d4d4d;
  padding-top: 200px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}
.explore .txt {
  margin-top: 40px;
  max-width: 42%;
}
.explore .txt h1 {
  background-color: #8bc6ca;
  color: #fff;
  letter-spacing: 3.5px;
  padding: 20px;
  font-size: 22px;
  line-height: 1.8;
  margin-bottom: 0;
  box-shadow: -3px 5px 8px rgba(0, 0, 0, 0.3);
}
.explore .txt .link-p {
  background-color: #5b5b5b;
  color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  margin-left: 18px;
  padding-bottom: 22px;
}
.explore .txt p {
  margin-top: 0;
  padding: 22px;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1.4;
  font-size: 14px;
  letter-spacing: 1.2;
  font-weight: 300;
}
.explore .txt .link-p .link {
  background-color: #fff;
  border-radius: 3px;
  width: fit-content;
  margin-top: 10px;
  margin-left: 22px;
}
.explore .txt .link-p .link a {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: black;
  padding: 12px 18px;
}
.explore .img {
  margin-top: -30px;
  max-width: 50%;
}
.explore .img img {
  max-width: 500px;
}
/*End of Section TWo */
/* Section Three */
.sec-three {
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 50px;
  background-image: url(../Imgs/events-bg.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 150px;
  color: #fff !important;
  letter-spacing: 3px;
}
.sec-three .calendar {
  color: rgb(255, 255, 255);
}
.sec-three .calendar .day.today {
  background-color: #ffc10799;
  color: #323232;
}
.sec-three #container {
  max-width: 40%;
}
.sec-three .img-gallery {
  margin-top: -45px;
  max-width: 45%;
}
.sec-three .img-gallery h2 {
  margin-bottom: 50px;
}
.sec-three .img-gallery .imgs {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 20px 20px;
}
.sec-three .img-gallery .imgs img {
  width: 100%;
  height: 200px;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.466);
}
.sec-three .img-gallery .imgs img:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}
/* End of Section Three */
/* Section Four */
.sec-four {
  background-image: url(../Imgs/desk.jpg);
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 50px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}
.sec-four .content {
  width: 55%;
}
.sec-four .content h2 {
  letter-spacing: 2.5px;
  font-weight: 500;
  font-size: 22px;
  color: #323232;
  margin-bottom: 30px;
}
.sec-four .content .options {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px 40px;
  width: 80%;
}
.sec-four .content .options .option {
  width: 28%;
  background-color: #fff;
  padding-top: 20px;
  margin-bottom: 20px;
  transition: 0.3s;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-decoration: none;
  color: #323232;
  justify-content: center;
}
.sec-four .content .options .option:hover {
  box-shadow: 0px 8px 20px 3px rgba(0, 0, 0, 0.4);
}
.sec-four .content .options .option ion-icon {
  font-size: 55px;
}
.sec-four .content .options .option h5 {
  height: 60%;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* End of Section Four */
/* Section Five */
.sec-five {
  background-image: url(../Imgs/artists-bg.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.sec-five .artists {
  width: 42.5%;
}
.sec-five .institutes {
  max-width: 30%;
}
/* slider Down*/
.sec-five #demo .sp-slide {
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  justify-content: flex-start;
}
.sec-five #demo .sp-slide .col {
  display: flex;
  flex-flow: column nowrap;
}
.sec-five #demo .sp-slide .img {
  width: 174px;
  height: 215px;
  position: relative;
}
.sec-five #demo .sp-slide .img img {
  width: 174px;
  height: 215px;
}
.sec-five #demo .sp-slide .img .hover {
  display: none;
  background-color: rgba(50, 50, 50, 0.85);
  color: #fff;
  padding: 20px 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 174px;
  height: 215px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.8px;
  line-height: 1.5;
}
.sec-five #demo .sp-slide .img .hover a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  display: block;
  width: fit-content;
  padding: 8px 16px;
  border: 2px solid #fff;
  margin: 0 auto 50px;
  transition: 0.3s;
}
.sec-five #demo .sp-slide .img .hover a:hover {
  background-color: #fff;
  color: #323232;
}
.sec-five #demo .sp-slide .txt {
  text-align: center;
  height: 30%;
  color: #fff;
  letter-spacing: 2.5px;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 20px;
  position: relative;
}
/*Endd of slider Down*/
.sec-five .artists > .txt {
  display: flex;
  justify-content: space-between;
  color: #fff;
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}
.sec-five .artists .txt a {
  display: block;
  text-decoration: none;
  color: #323232;
  font-weight: bold;
  padding-top: 25px;
  margin-right: 35px;
  font-size: 13px;
  transition: 0.3s;
  height: 45px;
}
.sec-five .artists .txt a:hover {
  color: var(--menu-color);
  border-bottom: 1px solid var(--menu-color);
}
.sec-five .institutes {
  color: #fff;
  letter-spacing: 2.5px;
  margin-top: -20px;
  margin-right: 50px;
}
.sec-five .institutes h2 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 5px;
  margin-bottom: 60px;
}
.sec-five .institutes > a {
  display: block;
  text-decoration: none;
  color: #323232;
  font-size: 13px;
  font-weight: bold;
  transition: 0.3s;
  padding-bottom: 5px;
  margin-top: -10px;
  width: fit-content;
}
.sec-five .institutes > a:hover {
  color: var(--menu-color);
  border-bottom: 1px solid var(--menu-color);
}
.sec-five .institutes .institute {
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}
.sec-five .institutes .institute a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}
.sec-five .institutes .institute p {
  font-size: 13px;
  letter-spacing: 1.2px;
  font-weight: 300;
}
/* End of Section Five */
/* Section Six */
.sec-six {
  width: 100%;
  height: 100vh;
  padding-top: 150px;
  padding-bottom: 100px;
  position: relative;
}
.sec-six::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #32323207;
  position: absolute;
  bottom: 16%;
  left: 0;
}
.sec-six .logos {
  background-color: #fff;
  width: 100%;
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 30px;
  z-index: 999;
  border-top: 1px solid #3232320e;
}
.sec-six .logos h2 {
  font-size: 16px;
  letter-spacing: 2.5px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  color: #323232;
}
.sec-six .logos .slider.demo {
  width: 80%;
  margin: 0 auto;
}
.sec-six .logos .slider.demo div img {
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.sec-six .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
  margin: 0 auto 60px;
  width: 100%;
  padding-top: 50px;
  background-color: #f7f7f7;
  box-shadow: 0 20px 100px rgba(0, 0, 0, 0.2);
}
.sec-six .contact .col-1 > p {
  color: #323232;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.1px;
  line-height: 1.5;
}
.sec-six .contact .col-1 > a {
  color: #323232;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  transition: 0.3s;
}
.sec-six .contact .col-1 > a:hover {
  color: var(--menu-color);
}
.sec-six .contact .col-1 a ion-icon {
  margin-right: 5px;
}
.sec-six .contact .col-1 p {
  margin: 8px 0;
}
.sec-six .contact .col-1 h5 {
  margin-top: 50px;
  display: flex;
  gap: 5px;
  font-weight: 300;
}
.sec-six .contact .col-1 h5 a {
  text-decoration: none;
  color: #323232;
  font-weight: bold;
  transition: 0.3s;
}
.sec-six .contact .col-1 h5 a:hover {
  color: var(--menu-color);
}
.sec-six .contact .col-2 > div {
  margin-top: 20px;
  margin-bottom: 80px;
}
.sec-six .contact .col-2 ul li {
  display: inline-block;
  margin-right: 10px;
  color: #323232;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.5px;
  transition: 0.3s;
  cursor: pointer;
}
.sec-six .contact .col-2 ul li:hover {
  color: var(--menu-color);
}
.sec-six .contact .col-2 ul:nth-child(2) {
  text-align: right;
}
.sec-six .contact .col-2 ul:nth-child(2) li {
  font-size: 22px;
  margin: 15px 8px;
}
.sec-six .contact .col-2 h5 {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  font-weight: 300;
}
.sec-six .contact .col-2 h5 a {
  text-decoration: none;
  color: #323232;
  font-weight: bold;
  transition: 0.3s;
}
.sec-six .contact .col-2 h5 a:hover {
  color: var(--menu-color);
}
/* End of Section Six */
